<h2><%= @post.title %></h2>
<p>Author: <%= @post.author %></p>
<p>Content: <%= @post.content %></p>
<p>
  <%= link_to image_tag('pencil-icon.png', class: "icon"), edit_post_path(@post) %>
  <%= link_to image_tag('trash-can.png', class: "icon"), delete_post_path(@post), data: {:confirm => "Are you sure you want to delete the #{@post.title} post?"}, :method => :delete %>
</p>
