<!-- show.html for User -->
<div class="dungeon">
  <div class= "profile_img">
    <%= if @user.image == nil
      image_tag('http://weclipart.com/gimg/DE3DE279C8E11C7C/dc6o8deoi.jpeg')
    else
      image_tag(@user.image)
    end %>
  </div>
  <p><%= @user.first_name + " " + @user.last_name %> </p>
  <p>Joined Vagabond <%= time_ago_in_words(@user.created_at) %> ago.</p>
  <p>Current City: <%= @user.current_city %></p>
  <div class="margin-top-20">
    <button data-toggle="modal" data-target="#edit_profile_modal" class="btn">Edit Profile</button>
  </div>
</div>

<div class="dungeon">
  <h2> Your Posts </h2>
  <ul>
    <% @user.posts.each do |user_post| %>
    <li>
      <h4 class="post_title"><%= link_to user_post.title, post_path(user_post.id) %> </h4>
      <div class= "post_content">
        <p><%= truncate(user_post.content, length: 500) %></p>
        <p>You wrote this <%= time_ago_in_words(user_post.created_at) %> ago.</p>
      </div>
      <%= link_to image_tag('pencil-icon.png', class: "icon"), edit_post_path(user_post)%>
      <%= link_to image_tag('trash-can.png', class: "icon"), delete_post_path(user_post), data: {:confirm => "Are you sure you want to delete the #{user_post.title} post?"}, :method => :delete %>
    </li>
    <hr>
    <% end %>
  </ul>
</div>


<!-- Modal for edit user post -->
<div id="edit_profile_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for @user do |f| %>
      <div class="modal-body">
        <div class="margin-top-20">
          <%= f.text_field :first_name, placeholder: "First Name"%>
        </div>
        <div class="margin-top-20">
          <%= f.text_field :last_name, placeholder: "Last Name"%>
        </div>
        <div class="margin-top-20">
          <%= f.email_field :email, placeholder: "Email"%>
        </div>
        <div class="margin-top-20">
          <%= f.text_field :current_city, placeholder: "Current City"%>
        </div>
        <div class="margin-top-20">
          <%= f.text_field :image, placeholder: "Image Url"%>
        </div>
        <div class="margin-top-20">
          <%= f.password_field :password, placeholder: "Password"%>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">Close</button>
        <%= f.submit "Submit Changes", class: "btn"%>
      </div>
      <% end %>

    </div>
  </div>
</div>


<!-- End of container-modal -->
