<!-- Top Nav Bar -->
<nav class="navbar navbar-inverse">
  <span> <%= @city.name %></span>
  <% if current_user%>
  <span><button data-toggle="modal" data-target="#new_post_modal" class="btn nav-buttn">New Post</button></span>
  <% end %>
</nav>


<%= image_tag(@city.image) %>

<!-- Display all posts related to this city -->
<% @city.posts.order('id DESC').each do |post| %>
<div class="dungeon">
<ul>
  <li><h4><%= link_to post.title, post_path(post) %></h4></li>
  <li>Author: <%= post.author %></li>
  <li>Content: <%= post.content %></li>
</ul>
</div>
<% end %>

<!-- MODAL -->
<div class="container-modal">
  <!-- New Post modal -->
  <div id="new_post_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <h4>New Post</h4>

        <%= form_for :post, url: create_post_path(@city.id), method: "post" do |f| %>
        <div class="modal-body">
          <div class="margin-top-20">
            <%= f.text_field :title, placeholder: "Title"%>
          </div>
          <div class="margin-top-20">
            <%= f.text_area :content %>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Submit Post" %>
        </div>
        <% end %>

      </div>
    </div>
  </div>
  <!-- end of sign up modal -->
</div>
<!-- end of modal container-->
