<!DOCTYPE html>
<html>
<head>
  <title>VagabondApp</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar navbar-inverse bg-primary">
    <!-- Navbar content -->

    <h1 class="navbar-brand mb-0">Welcome to Vagabond</h1>

    <% if current_user == nil %>
      <div class="margin-top-20">
        <button data-toggle="modal" data-target="#sign_up_modal" class="btn btn-primary">Sign Up</button>
      </div>
      <div class="margin-top-20">
        <button data-toggle="modal" data-target="#login_modal" class="btn btn-primary">Log in</button>
      </div>
    <% else %>
      <div class="margin-top-20">
        <%= link_to "Profile", user_path(current_user), class: "btn btn-primary" %>
      </div>
      <div class="margin-top-20">
        <%= link_to "Log Out", logout_path , class: "btn btn-primary" %>
      </div>
    <% end %>

  </nav>

  <!-- MODAL -->
  <div class="container-modal">
    <!-- sign_up_modal -->
    <div id="sign_up_modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <%= form_for :user, url: create_user_path, method: "post" do |f| %>
          <div class="modal-body">
            <div class="margin-top-20">
              <%= f.text_field :first_name, placeholder: "First Name"%>
            </div>
            <div class="margin-top-20">
              <%= f.text_field :last_name, placeholder: "Last Name"%>
            </div>
            <div class="margin-top-20">
              <%= f.email_field :email, placeholder: "Email"%>
            </div>
            <div class="margin-top-20">
              <%= f.text_field :current_city, placeholder: "Current City"%>
            </div>
            <div class="margin-top-20">
              <%= f.password_field :password, placeholder: "Password"%>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Sign up!" %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
    <!-- end of sign up modal -->
  </div>
  <!-- end of modal container-->

  <!-- Login MODAL -->
  <div class="container-modal">
    <div id="login_modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <% @user = User.new %>
          <%= form_for @user, url: "/login", method: "get" do |f| %>
          <div class="modal-body">
            <div class="margin-top-20">
              <%= f.email_field :email, placeholder: "Email"%>
            </div>
            <div class="margin-top-20">
              <%= f.password_field :password, placeholder: "Password"%>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Login" %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
<!-- end of login modal -->


  <!-- MODAL -->


  <p>This is your index page, make it work</p>
  <%= yield %>




  <div class="footer">
    <h2>&copy;javascriptforlife & Huan Ming Lo & Jonathan Mules</h2>
  </div>



</body>
</html>
